.galery{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 120px;
    overflow: auto;
    gap: 20px;
}

.galery::-webkit-scrollbar{
    height: 8px;
}

.galery-arrow{
    width: 20px;
    height: 20px;
}

.right-side{
    border-top: 4px solid white;
    border-right: 4px solid white;
    transform: rotate(45deg);
    order: 3;
}

.left-side{
    border-top: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(-45deg);
    order: 1;
}

.imgGalery{
    order: 2;
    max-height: 80px;
}

.not-active{
    display: none;
}