html{
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 100%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
}

a, area, button, input, select, textarea {
    outline: none;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: black;
}
  
::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 9999px;
    border-width: 1px;
}
  
/* scrollbar-color: rgb(68, 68, 173);
-ms-overflow-style: none;
scrollbar-width: thin; */